@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: rgb(23, 23, 61);
  background-image: url('/login/background.png');
  background-position: top;
}
::selection{
  background: rgba(26,188,156,0.3);
}
.flex-container{
  display: flex;
  max-width: 1000px;
  padding: 0 20px;
  margin: 100px auto;
}
.wrapper{
  width: 40%;
  background: #fff;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background: rgb(23, 23, 61);
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: rgb(23, 23, 61);
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background:rgb(23, 23, 61);
  border: 1px solidrgb(23, 23, 61);
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: rgb(23, 23, 61);
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: rgb(23, 23, 61);
  border: 1px solid rgb(23, 23, 61);
  cursor: pointer;
}
form .button input:hover{
  background: rgb(23, 23, 61);
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: rgb(23, 23, 61);
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

.side{
  width: 60%;
  background-image: url(/login/background.png);
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}

.side .text{
  margin-top: 125px;
  margin-left: 50px;
  font-size: 20px ;
  font-family: 'Open Sans', sans-serif;
  color:#999;
  letter-spacing: 2px;

}



